* {
    margin: 0;
    padding: 0;
}

html {
    margin-left: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #03A9F4;
    /*background-image: url(../pic/room.jpg);*/
    min-width: 1200px;
    width: expression_r(document.body.clientWidth < 1200 ? "1200px": "auto" );
}

h4 {
    margin-bottom: 0;
    float: left;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/*header*/
.header {
    height: 80px;
}

.header:hover .cover-box {
    transform: translate(0, 80px);
    -webkit-transform: translate(0, 80px);
    -moz-transform: translate(0, 80px);
    -o-transform: translate(0, 80px);
    -ms-transform: translate(0, 80px);
}

.cover-box {
    overflow: hidden;
    margin-top: -80px;
    height: 80px;
    background-color: #151515;
    position: relative;
    z-index: 3;
    left: 0;
    right: 0;
    transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
}

.logo {
    position: relative;
    z-index: 999;
    height: 60px;
    margin: 10px 0px 10px 20%;
}

.menu-word {
    position: relative;
    z-index: 999;
    color: #FFFFFF;
    padding: 25px 17px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.menu-word:visited {
    /*a的伪类的顺序是link visited hover active。书写的顺序一定要按照这个顺序，因为这个关于优先级的问题，当然hover active可以互换位置。*/
    color: #FFFFFF;
    text-decoration: none;
}

.menu-word:hover {
    color: #03A9F4;
    text-decoration: none;
}

.menu-word:active {
    text-decoration: none;
}

.menu-sys {
    display: block;
    margin-bottom: 0;
}

.nav-down-child {
    position: absolute;
    z-index: 1;
    left: 370px;
    top: 80px;
    height: 120px;
    width: 110px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(17, 17, 17, .98);
    position: absolute;
    top: -120px;
    width: 110px;
    transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out;
}

.menu-sys:hover .nav-down-child {
    display: block;
    transform: translate(0, 200px);
    -webkit-transform: translate(0, 200px);
    -moz-transform: translate(0, 200px);
    -o-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
}

.user-sign {
    margin-top: 25px;
    position: relative;
    z-index: 999;
}

.user-icon {
    display: none;
    margin-top: 30px;
    font-size: 20px;
    color: #FFFFFF;
}

/*wrap*/
.wrap {
    margin-bottom: 130px;
}

/*wrap-announce*/
.wrap-announce {
    padding-top: 100px;
    padding-left: 10%;
    height: 400px;
    background-color: #03A9F4;;
    margin-bottom: 100px;
}

.announce-container {
    padding-top: 100px;
    text-align: center;
}

.announce-name {
    color: white;
}

.announce-text {
    text-indent: 2em;
    margin: 50px auto;
    color: white;
    width: 600px;
}

/*wrap-appoint*/
.appoint-container {
    height: 500px;
}

.appoint-tabs {
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    margin: 80px 0 0 10px;
    text-align: left;
}

.appoint-tabs li {
    float: left;
    display: block;
}

.appoint-tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.appoint-tabs label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .6);
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    top: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.appoint-tabs label:hover {
    background: rgba(0, 0, 0, .2);
}

.appoint-tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 59px;
    left: 0;
    background: rgba(255, 255, 255, .8);
}

.appoint-tabs [id^="appoint-tab"]:checked + label {
    top: 0;
    color: #151515;
    padding-top: 17px;
    background: rgba(255, 255, 255, .8);
}

.appoint-tabs [id^="appoint-tab"]:checked ~ [id^="appoint-tab-content"] {
    display: block;
}

.tab-content label {
    padding: 1px;
    font-size: 15px;
    color: #151515;
    background-color: rgba(0, 0, 0, .0);
}

.appoint-group {
    float: left;
    margin: 0 8%;
}

.manage-body {
    background-color: #FFFFFF;
}

.manage-cover-box {
    background-color: #151515;
}

.manage-cover-box-child {
    margin-top: 0;
    height: 80px;
    background-color: #151515;
    position: absolute;
    z-index: 3;
    margin-left: 0;
}

.manage-menu {
    padding-top: 15px;
    height: 700px;
    background-color: #F0F6F6;
}

.manage-container {
    height: 700px;
    padding-top: 15px;
}

.manage-menu-head {
    cursor: default;
}

/*footer*/
.footer {
    padding-top: 20px;
    height: 200px;
    background-color: #2E3033;
}

.copyright {
    width: 900px;
    color: #FFFFFF;
    margin: 30px auto;
}

.foot-link {
    width: 300px;
    color: #FFFFFF;
    margin: 30px auto;
}

.foot-link-style:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.foot-link-style:hover {
    color: #03A9F4;
    text-decoration: none;
}
