<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <!-- 分发器 =====================================================================================================-->
    <servlet>
        <!--TODO 这里填写你的servlet的名字-->
        <servlet-name>ssm-template-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/spring-*.xml</param-value>
        </init-param>
    </servlet>
    <!--设置spring分发器需要处理的mapping-->
    <servlet-mapping>
        <!--TODO 这里和上面填一样-->
        <servlet-name>ssm-template-dispatcher</servlet-name>
        <!--默认拦截所有请求-->
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!--session设置==================================================================================================-->
    <session-config>
        <session-timeout>3600</session-timeout>
        <!-- configs about session tracking cookies created by this web application-->
        <cookie-config>
            <!--The default is JSESSIONID-->
            <!--TODO 可以在这里自定义你的Session ID-->
            <name>SSM-TEMPLATE-SESSION-ID</name>
            <http-only>false</http-only>
        </cookie-config>
    </session-config>

    <!--编码过滤器,强制使用UTF8编码==================================================================================-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--HTTP异常重定向===============================================================================================-->

    <error-page>
        <error-code>401</error-code>
        <location>//error/401</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>//error/403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>//error/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>//error/500</location>
    </error-page>
</web-app>
