<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <!-- 修改servlet的版本为3.0 -->

    <!-- 默认springMVC的分发器 -->
    <servlet>
        <servlet-name>ssm-template-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/spring-*.xml</param-value>
        </init-param>
    </servlet>
    <!--设置spring分发器需要处理的mapping-->
    <servlet-mapping>
        <servlet-name>ssm-template-dispatcher</servlet-name>
        <!--默认拦截所有请求-->
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>3600</session-timeout>
        <!-- configs about session tracking cookies created by this web application-->
        <cookie-config>
            <!--The default is JSESSIONID-->
            <name>SSM_TEMPLATE_SESSION_ID</name>
        </cookie-config>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <!--增加编码过滤器，如下（注意，需要设置forceEncoding参数值为true）-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--替换默认的401错误页面-->
    <error-page>
        <error-code>401</error-code>
        <location>/WEB-INF/jsp/error/401.jsp</location>
    </error-page>
    <!--替换默认的403错误页面-->
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/error/403.jsp</location>
    </error-page>
    <!--替换默认的404错误页面-->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error/404.jsp</location>
    </error-page>
</web-app>